:root {
  --primary: #23192d;
  --secondary: #ee346c;
  --lightpink: #f57576;
  --pinky: #febf97;
  --almostwhite: #f5ecb7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

html {
  font-size: 63.5%; /* to convert 1rem = 10px */
}

body {
  font-size: 16px; /* to convert 1rem = 10px */
  background-color: var(--almostwhite);
  font-family: "Montserrat", sans-serif;
  background: rgb(240, 33, 99);
  background: linear-gradient(
    0deg,
    rgba(240, 33, 99, 0.24971987085849967) 0%,
    rgba(255, 255, 255, 1) 51%,
    rgba(240, 33, 99, 0.3841736523711047) 100%
  );
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header a {
  color: var(--secondary);
  text-decoration: none;
  margin-top: 2rem;
  font-weight: bold;
}
h1 {
  min-height: 2vh;
  margin-top: 2rem;
}

nav {
  min-height: 3vh;
  background-color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  background-color: var(--secondary);
  color: white;
  padding: 0.8rem;
  border-radius: 4rem;
  /* height: 3rem; */
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid;
  width: 14rem;
  display: flex;
  justify-content: center;
}

nav a:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(58, 180, 109);
  color: black;
  transition: 0.8s;
}

.nav-logo {
  width: 5rem;
}

main {
  min-height: 90vh;
}

p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
}

.banner-container {
  display: flex;
  justify-content: center;
}

.banner {
  height: 70vh;
  /* width: 100%; */
  object-fit: cover;
}

.banner:hover {
  /* display: inline-block; */
  width: 100%;
  transition: 1s;
}

.index-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  padding: 2rem;
}

.index-section p {
  width: 30rem;
  display: flex;
  align-items: center;
}

.index-section img {
  width: 70vh;
  height: 100%;
  object-fit: cover;
}

img {
  border-radius: 4rem;
}

footer {
  min-height: 5vh;
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About us */

.about-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  padding: 2rem;
}

.about-img {
  width: 40vh;
  height: 40vh;
}

.about-p {
  width: 40%;
}

/* Contact */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-img {
  width: 100vh;
}

.contact-info-div {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
}

.contact-info-div a {
  text-decoration: none;
  background-color: var(--secondary);
  color: white;
  padding: 0.8rem;
  border-radius: 1rem;
}

.contact-info-div a:hover {
  background-color: rgb(91, 163, 168);
  color: black;
  transition: 0.8s;
  font-weight: 500;
}

/* Information  */

.table-container {
  margin-top: 8rem;
}

.info-table {
  margin: 0 auto;
}
table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4rem;
  background-color: var(--primary);
  color: white;
}

/* Benefits and Tips */
.bt-img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

.bt-list-img {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  padding: 2rem;
}

.bt-list-img ol {
  display: flex;
  align-items: center;
  width: 30rem;
}

.bt-list-img li {
  padding: 1rem;
  font-weight: 500;
  font-size: 1.7rem;
}

/* Raffle */

.raffle-header-p {
  padding: 2rem;
  width: 90rem;
}

.form-map-containter {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem;
}
.container-map {
  border: 1px solid black;
}
.raffle-map {
  width: 50rem;
  height: 100%;
  border:2px solid black;
}

.raffle-fieldset {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: none;
}

.raffle-fieldset  input,
select{
  padding: 1rem;
  margin: 0.5rem;
}

.text-area-label {
  margin-top: 2rem;
}

.form-container {
  width: 50rem;
  height: 100%;
  background-color: var(--primary);
  border-radius: 2rem;
}
label {
  color: white;
}
.check-submit-container {
  display:flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  align-items: center;
}

.submit-button {
  background-color: var(--secondary);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/*  MediaQueries*/

@media (min-width: 768px) and (max-width:1023px){
  .banner {
    width: 100%;
  }
  nav {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 2rem;
  }
  nav a {
   width: 100%;
   order: 2;
   border-radius: 0;

  }
  .nav-logo {
   order: 1;
  }

  .index-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; 
    gap: 2rem;
    
  }

  .index-section p { 
    width: 50rem;
  }

  header p {
    font-size: 1.8rem;
    padding: 2rem;

  }

  /* About medias */

  .about-us-header {
    margin-bottom: 0;
  }
  .about-section {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 2rem;
  }

  /* Contact  medias*/
  .contact-info-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  /* Benefits and Tips Medias */
  .bt-list-img {
    flex-direction: column;
    align-items: center;
    gap:1rem;
  }

  /* Raffle */
  .raffle-header-p {
    width: 60rem;
  }

  .form-map-containter {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .form-container {
    width: 100%;
  }
  .raffle-map {
    width: 100%;
  }
 }
@media (min-width: 320px) and (max-width:767px){
  /* *{
    border: 1px solid green;
  } */
    nav {
      flex-direction: column;
      width: auto;
      gap: 1rem;
      padding: 1rem;
    }

    nav a {
      width: 100%;
      border-radius: 0;
      order: 2;
    }

    .nav-logo{
      order: 1;
    }

    .banner-container{
      width: 100%;
      height: 100%;
    }

    .banner{
      width: 100%;
      height: 100%;

    }

    .index-section {
      flex-direction: column-reverse;
      margin-top: 3rem;
    }
    
    .index-section img {
      width: 100%;
      padding: 2rem;
    
    }

    .index-section p {
      width: 100%;
      font-size: 1.4rem;
      padding: 2rem;
    }

    /*  About us min 320px*/

    .about-section{
      flex-direction: column;
      margin-top: 1rem;
      padding-top:0;
    }

    .about-section p { 
      width: 30rem;
      padding: 2rem;
    }

    /*  Contact min 320px*/
    .contact-img {
      width: 100%;
    }

    .contact-info-div {
      flex-direction: column;
      gap: 3rem;
      width: 100%;
    }

    .contact-info-div a {
      padding: 2rem;
    }

    /*  Information min 320px*/
  
    .information-p {
      width: 100%;
      text-align: center;
    }

    table,td,tr,th {
      padding: 1.5rem;
      align-items: center;
      
    }

    .info-table {
      width: 15rem;
    }

    /* Benefits and Tips */

    .bt-header a {
      padding: 1rem;
      margin: 1rem;
      font-size: 1rem;
    }
    .bt-list-img {
      display: flex;
      flex-direction: column;
      margin: 1rem;
    }

    .bt-list-img img {
      width: auto;
    }

    .bt-list-img ol {
      width: 100%;
    }

    .tips-list {
      width: 25rem;
    }

    /* Raffle */

    .raffle-header a {
      padding: 1rem;
      margin: 1rem;
    }

    .raffle-header-p {
      width: 30rem;
    }

    .form-map-containter {
      display: flex;
      flex-direction: column;
    }

    .form-container {
      width: 100%;
      order:1;
    }

    .container-map {
      order:2;
    }

    .raffle-map {
      width: 100%;
    }
  }