:root {
  --primary: #23192d;
  --secondary: #fd0a54;
  --lightpink: #f57576;
  --pinky: #febf97;
  --almostwhite: #f5ecb7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

html {
  font-size: 63.5%; /* to convert 1rem = 10px */
}

body {
  font-size: 16px; /* to convert 1rem = 10px */
  background-color: var(--almostwhite);
  font-family: "Montserrat", sans-serif;
  background: rgb(240, 33, 99);
  background: linear-gradient(
    0deg,
    rgba(240, 33, 99, 0.24971987085849967) 0%,
    rgba(255, 255, 255, 1) 51%,
    rgba(240, 33, 99, 0.3841736523711047) 100%
  );
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header a {
  color: green;
  text-decoration: none;
  margin-top: 2rem;
  font-weight: bold;
}
h1 {
  min-height: 2vh;
  margin-top: 2rem;
}

nav {
  min-height: 3vh;
  background-color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  background-color: var(--secondary);
  color: white;
  padding: 1.8rem;
  border-radius: 4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}

nav a:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: green;
  color: black;
  transition: 0.8s;
}

.nav-logo {
  width: 5rem;
}

main {
  min-height: 90vh;
  padding: 5rem;
}

p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
}

.banner-container {
  display: flex;
  justify-content: center;
}

.banner {
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

.banner-container:hover {
  display: inline-block;
  width: 100%;
  transition: 1s;
}

.index-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.index-section p {
  width: 30rem;
  display: flex;
  align-items: center;
}

.index-section img {
  width: 70vh;
  height: 100%;
  object-fit: cover;
}

img {
  border-radius: 4rem;
}

footer {
  min-height: 5vh;
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About us */

.about-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  padding: 2rem;
}

.about-img {
  width: 40vh;
  height: 40vh;
}

.about-p {
  width: 40%;
}

/* Contact */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-img {
  width: 100vh;
}

.contact-info-div {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
}

.contact-info-div a {
  text-decoration: none;
  background-color: var(--secondary);
  color: white;
  padding: 0.8rem;
  border-radius: 1rem;
}

.contact-info-div a:hover {
  background-color: green;
  color: black;
  transition: 0.8s;
  font-weight: 500;
}

/* Information  */

.info-table {
  margin: 0 auto;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4rem;
  background-color: var(--primary);
  color: white;
}

/* Benefits and Tips */
.bt-img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

.bt-list-img {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  padding: 2rem;
}

.bt-list-img ol {
  display: flex;
  align-items: center;
  width: 30rem;
}

.bt-list-img li {
  padding: 1rem;
  font-weight: 500;
  font-size: 1.7rem;
}

/* Raffle */

.form-map-containter {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
.container-map {
  border: 1px solid black;
}
.raffle-map {
  width: 50rem;
  height: 100%;
  border:2px solid black;
}

.raffle-fieldset {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.raffle-fieldset  input,
select {
  padding: 1rem
}

.form-container {
  width: 50rem;
  height: 100%;
}

.check-submit-container {
  display:flex;
  justify-content: space-between;
}

/*  MediaQueries*/

@media (min-width: 320px) and (max-width:1023px){
  .banner {
    width: 100%;
  }
  nav {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 2rem;
  }
  nav a {
   width: 100%;
   order: 2;
   border-radius: 0;

  }
  .nav-logo {
   order: 1;
  }

  .index-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; 
    gap: 2rem;
    
  }

  .index-section p { 
    width: 50rem;
  }

  header p {
    font-size: 1.8rem;
    padding: 2rem;

  }

  /* About medias */

  .about-us-header {
    margin-bottom: 0;
  }
  .about-section {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 2rem;
  }

  /* Contact  medias*/
  .contact-info-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  /* Benefits and Tips Medias */
  .bt-list-img {
    flex-direction: column;
    align-items: center;
    gap:1rem;
  }

  /* Raffle */
  .form-map-containter {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .form-container {
    width: 100%;
  }
  .raffle-map {
    width: 100%;
  }
 }

  