:root {
  --primary:#23192d;
  --secondary:#fd0a54;
  --lightpink:#f57576;
  --pinky:#febf97;
  --almostwhite:#f5ecb7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

html{
  font-size: 63.5%; /* to convert 1rem = 10px */
}

body {
  font-size: 16px; /* to convert 1rem = 10px */
  background-color: var(--almostwhite);
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  min-height: 2vh;
  margin-top: 2rem;
}

nav {
  min-height: 3vh;
  background-color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

nav a {
  text-decoration: none;
  background-color: var(--secondary);
  color: white;
  padding: 1.8rem;
  border-radius: 4rem;
  height:3rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}

nav a:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: green;
  color: black;
}

.nav-logo {
  width: 5rem;
}

main {
  min-height: 90vh;
  padding: 5rem;

}

p {
  font-size: 2rem;
}

.banner {
  height: 70vh;
  width: 100%;
  object-fit: cover;
  
}

.index-section{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;

}

.index-section  p {
  width: 30rem;
  display: flex;
  align-items: center;
}

.index-section img {
  width: 70vh;
  height: 100%;
  object-fit: cover;
}

img {
  border-radius: 4rem;
}

footer {
  min-height: 5vh;
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About us */

.about-us-header a {
 text-decoration: none;
}

.about-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

.about-img {
  width: 40vh;
}

.about-p {
  width: 40%;
  
}

/* Contact */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-img {
  width: 100vh;
}

.contact-info-div {
  display: flex;
  justify-content: space-around;
  margin-top:2rem;
  width: 100%;

}

/* Information  */

.info-table{
  margin: 0 auto;
}

table,tr,th,td {
  border: 1px solid black;
  border-collapse: collapse ;
  padding: 0.8rem;
}

/* Benefits and Tips */
.bt-img {
  width: 30rem;
  height: 30rem;
 
}

.bt-list-img {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.bt-list-img ol {
  display: flex;
  align-items: center;
  width: 30rem;
}




